<div class="alert alert-warning alert-dismissible fade show" role="alert">
        <% if (typeof errors != 'undefined') { %>
            <% errors.forEach(function(error, index) { %>
                <% if (index != 0) { %>
                    <br>
                <% } %>
                <%= error.msg %>
            <% }); %>
        <% } %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>