<div class="wrap-login100 p-t-50 p-b-90">
    <span class="login100-form-title welcome">
        Login here!
    </span>
    <%- include('partials/messages');  %>
    <form action="/login" method="POST">
        <div class="wrap-input100 validate-input m-b-16" data-validate = "Username is required">
            <input 
                class="input100 form-control" 
                type="text"
                id="email"
                name="email"
                placeholder="Enter Email"
            />
            <span class="focus-input100"></span>
        </div>    
        <div class="wrap-input100 validate-input m-b-16" data-validate = "Password is required">
            <input 
                class="input100 form-control" 
                type="password"
                id="password"
                name="password"
                placeholder="Password"
            />
            <span class="focus-input100"></span>
        </div>
        <div class="container-login100-form-btn m-t-17">
            <button class="login100-form-btn" type="submit">
                Login
            </button>
        </div>
    </form>

    <div class="end_line">
        <div>
            <a href="/register" class="txt1">
                No account? Register Here!
            </a>
        </div>
    </div>
</div>